@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* You can add global styles to this file, and also import other style files */
$brand-primary: rgb(27, 17, 92);
$brand-secondary: #A25CA8;
$brand-tertiary: #F2D7F5;